header .company_info {
  border-bottom: solid 3px #28354D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  width: 100%;
}

header .company_info .company {
  margin: 2em 3em;
  width: 50%;
}

header .company_info .company .logo {
  color: #BC8A42;
  font-size: 30px;
}

header .company_info .info_detail {
  width: 50%;
  background-color: #28354D;
  color: #fff;
  padding: 2em 3em;
}

header .company_info .phone {
  width: 50%;
  background-color: #28354D;
  color: #fff;
  padding: 2em 3em;
}

header .navbar {
  z-index: 100;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin: 15px 0;
  z-index: 100;
}

header .navbar ul li {
  margin: 10px;
  padding-right: 20px;
}

header .navbar ul li a {
  color: #28354D;
  font-weight: 700;
}
