@mixin body_basic {
  font-size: 15px;
  font-family: "Noto Serif", serif;
  line-height: 0;
  letter-spacing: 1px;
  word-break: break-all;
  color: $cfont_color;
}

@mixin a_basic {
  text-decoration: none;
  color: $cfont_color;
}

@mixin li_basic {
  list-style: none;
}